* {
	box-sizing: border-box;
	}
body{
	background-color: azure;
}

.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=date]{
	display: inline-block;
	width: 35%;
	border-radius: 0px 0px 3px 3px;
	text-align: center;
	height: 40px;
	background-color: #ddd;
	margin-bottom: 15px;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.continue{
	display:inline-block;
	text-align: center;
    background-color: #4CAF50;
    width: 35%;
    border-radius: 0px 0px 4px 4px;
	margin: 20px 10px;
	margin-bottom: 20 px;
	padding:15px 15px;
		
}
	
.continue a{
	color: white;
	text-align: center;
	text-decoration: none;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}